/* [data-event-eventtype="course_schedule"] .calendar-circle {
    background-color: #ff8800 !important;
}

[data-event-eventtype="course_schedule"] .eventname {
    color: #d10000 !important;
    font-weight: bold;
}  */
